html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.navbar-nav .nav-link {
    color: var(--bs-nav-link-color);
}

    .navbar-nav .nav-link:hover {
        color: var(--bs-nav-link-hover-color);
    }

.navbar .btn-link {
    color: var(--bs-nav-link-color);
    text-decoration: none;
}

    .navbar .btn-link:hover {
        color: var(--bs-nav-link-hover-color);
    }

.card {
    background-color: var(--bs-card-bg);
    color: var(--bs-card-color);
}

.table {
    --bs-table-bg: var(--bs-body-bg);
    color: var(--bs-body-color);
}

.btn-link {
    color: var(--bs-link-color);
}

#messagesList {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
}

.form-control {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    border-color: var(--bs-border-color);
}

    .form-control:focus {
        background-color: var(--bs-body-bg);
        color: var(--bs-body-color);
    }
